<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.employeeapi.utilities.Listerners"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.employeeapi.Test.TC_05_DELETE_EmployeeRecord"/>
      <class name="com.employeeapi.Test.TC_03_POST_EmployeeData"/>
      <class name="com.employeeapi.Test.TC_02_GET_Sinfgle_EmployeeRecord"/>
      <class name="com.employeeapi.Test.TC_04_PUT_EMPLOYEE"/>
      <class name="com.employeeapi.Test.TC_01_GET_All_Employees"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
